<%- include("./../SharedLayouts/Header.ejs",{title: "Logincheck",active:"home"})
%>
<main>
  <form method="post" enctype="multipart/form-data" action="/"></form>
</main>
<%- include("./../SharedLayouts/Footer.ejs") %>
